<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
<!-- * * * * * * * * * * * The content below * * * * * * * * * * * -->
<!-- * * * * * * * * * * is only a placeholder * * * * * * * * * * -->
<!-- * * * * * * * * * * and can be replaced. * * * * * * * * * * * -->
<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
<!-- * * * * * * * * * Delete the template below * * * * * * * * * * -->
<!-- * * * * * * * to get started with your project! * * * * * * * * -->
<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->

<app-title></app-title>
<div *ngIf="renderForm">
    <p>Set your budget by adding the amounts next to each category:</p>
    <form (submit)="submit($event)">
        <p>
            Housing: $<input [(ngModel)]="housing" [(ngModel)]="housingRemaining" [ngModelOptions]="{standalone: true}" />
        </p>
        <p>
            Food: $<input [(ngModel)]="food" [(ngModel)]="foodRemaining" [ngModelOptions]="{standalone: true}" />
        </p>
        <p>
            Utilities: $<input [(ngModel)]="utilities" [(ngModel)]="utilitiesRemaining" [ngModelOptions]="{standalone: true}" />
        </p>
        <p>
            Transportation: $<input [(ngModel)]="transportation" [(ngModel)]="transportationRemaining" [ngModelOptions]="{standalone: true}" />
        </p>
        <button>Submit</button>
    </form>
</div>
<app-list *ngIf="renderList" [housing]="housing" [housingRemaining]="housingRemaining" [transportation]="transportation" [transportationRemaining]="transportationRemaining" [utilities]="utilities" [utilitiesRemaining]="utilitiesRemaining" [food]="food" [foodRemaining]="foodRemaining"></app-list>